* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html, body, #root {
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
} */

/* body > #root > div {
  height: 100vh;
} */

body {
  background-color: rgb(176, 227, 240);
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.App {
  text-align: center;
  width: 100vw;
}

form, .birthdayList {
  background-color: rgb(130, 165, 70);
  max-width: 400px;
  margin: 15px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form > button, input {
  border-radius: 8px;
  border: none;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#name, button {
margin: 10px auto;
}

#name {
  min-width: 80%;
}

button {
  display: block;
}

.react-datepicker, .listItem {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.react-datepicker__input-container > input {
  text-align: center;
  max-width: 120px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.react-datepicker__calendar-icon {
  padding: 5px 8px 0px 8px !important;
}

h1, h3 {
 padding: 5px;
}

h1 {
  margin-top: 20px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.birthdayList {
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  width: 45%;
  margin: 10px auto;
  background-color: rgb(176, 227, 240);
  padding: 5px;
  border-radius: 8px;
}

.listItem p {
  padding: 5px;
}

.bName {
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 480px) {
  .birthdayList {
    display: block;
  }

  form, .birthdayList {
    width: 350px;
}
}